body {
    background-color: blanchedalmond;
}

h2 {
    color: red;
    font-weight: 100;
    font-size: 40px
}

#mainNavBar .navbar-brand {
    color: red;
    font-weight: 100;
}

#mainNavBar {
    font-size: 1.5rem;
}

#mainNavBar .nav-link {
    color: white
}

#mainNavBar .nav-link:hover {
    color: darkred;
}

#headingGroup span {
    color: red
}

#headingGroup h2 {
    font-weight: 100;
    font-size: 40px
}
